<!--<div class="input-group">-->
    <!--<span class="input-group-addon">How many cards to generate (1-10)?</span>-->
    <!--<input type="number" title=""-->
           <!--class="form-control"-->
           <!--aria-describedby="basic-addon3"-->
           <!--ng-model="nc.cardCounter"-->
           <!--ng-change="nc.httpGet()"-->
           <!--max="10"-->
           <!--min="1"/>-->
<!--</div>-->
<div class="input-group">
    <span class="input-group-addon">Search people by email</span>
    <input type="text" title=""
           class="form-control"
           aria-describedby="basic-addon3"
           ng-model="vm.searchValue">
    <span class="input-group-addon"><i class="fa fa-search"></i></span>
</div>
