.card {
    width: 400px;
    margin: 20px;
    display: inline-block;
    opacity: 30;
}

.card-block {
    background-color: beige;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.fa {
    width: 25px;
    padding-bottom: 5px;
}

img {
    border-radius: 100%;
    float: left;
    margin-right: 20px;
}
