.card {
    width: 450px;
    margin: 20px;
    display: inline-block;
}

.card-block {
    background-color: beige;
}

.fa {
    width: 20px;
}

img {
    border-radius: 100%;
    float: left;
    margin-right: 20px;
}